kind: Service
apiVersion: v1
metadata:
  name: goshelly-helm-port-forwarding
  namespace: goshelly-helm
spec:
  # Make the service externally visible via the node
  type: LoadBalancer
  ports:
    # Which port on the node is the service available through?
    - name: "goshelly-helm-forwarding-port"
      # nodePort: 3212
      port: 443
      targetPort: 443
  selector:
    app: goshelly-helm
---
apiVersion: v1
kind: Service
metadata:
  name: goshelly-helm-api
  namespace: goshelly-helm
spec:
  type: LoadBalancer
  ports:
    - port: 443
      targetPort: 443
      name: goshelly-helm-api
  selector:
    name: goshelly-helm-api
